In [1]:
# Import dependencies needed

import json
import pandas as pd
from pprint import pprint

In [8]:
# Load file1.json' file into dataframe:

file1 = pd.read_json('Resources/file1.json', lines=True, orient='columns')
file1.head()

,0,1,2,3,4,5,6,7,8,9,...,469,470,471,472,473,474,475,476,477,478
0,"{'results_found': 17151, 'restaurants': [{'res...","{'results_found': 4748, 'restaurants': [{'rest...","{'results_found': 13786, 'restaurants': [{'res...","{'results_found': 10224, 'restaurants': [{'res...","{'results_found': 7039, 'restaurants': [{'rest...","{'results_found': 5678, 'restaurants': [{'rest...","{'results_found': 5374, 'restaurants': [{'rest...","{'results_found': 1382, 'restaurants': [{'rest...","{'results_found': 1534, 'restaurants': [{'rest...","{'results_found': 2206, 'restaurants': [{'rest...",...,"{'message': 'API limit exceeded', 'code': 440,...","{'message': 'API limit exceeded', 'code': 440,...","{'message': 'API limit exceeded', 'code': 440,...","{'message': 'API limit exceeded', 'code': 440,...","{'message': 'API limit exceeded', 'code': 440,...","{'message': 'API limit exceeded', 'code': 440,...","{'message': 'API limit exceeded', 'code': 440,...","{'message': 'API limit exceeded', 'code': 440,...","{'message': 'API limit exceeded', 'code': 440,...","{'message': 'API limit exceeded', 'code': 440,..."